
.sidebar{
 height: 100%;
    width:200px; 
    position:fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s;
    float: left;
    padding-top: 60px;
    margin-top: 15px;
    display:none;
}
.sidebar a{
 color:white;
 font-weight:bold;
}
